/* ------------
      BASICS
   ------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 1em;
    -webkit-text-size-adjust: 100%; /* prevent font scaling in mobile landscape */
}

@property --base-hue {
    syntax: '<angle>';
    initial-value: 225deg;
    inherits: true;
}

body {
    --font-stack: 'Inter', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;

    --bg-01: oklch(17.74% 12% var(--base-hue));
    --bg-02: oklch(29.98% 10% var(--base-hue));
    --bg-03: oklch(37.96% 9% var(--base-hue));

    --text-01: oklch(90.8% 1% var(--base-hue));
    --text-02: oklch(84.76% 3% var(--base-hue));
    --text-03: oklch(66.83% 4% var(--base-hue));

    --border-divider: oklch(45.99% 7% var(--base-hue));
    --border-radius: 1.2em;
    --border-inset:
        0px 1px 0px 0px rgba(255, 255, 255, 0.08) inset,
        0 0 0 1px rgba(255, 255, 255, 0.05) inset;

    --shadow-01:
        0 30px 60px -8px rgba(50, 50, 93, .2),
        0 18px 36px -10px rgba(0, 0, 0, .3),
        0 -12px 36px -6px rgba(0, 0, 0, .05);
    --shadow-02:
        0 6px 10px -4px rgba(0, 0, 0, .3),
        0 12px 30px -8px rgba(0, 0, 0, .15);
    --shadow-03:
        0 4px 8px -4px rgba(0, 0, 0, .15),
        0 12px 24px 0 rgba(0, 0, 0, .1);

    --anim-length: 10px;
    --anim-slow: 325ms;
    --anim-med: 225ms;
    --anim-fast: 125ms;

    --ease-in-out-expo: cubic-bezier(0.4, 0, 0.2, 1);
    --ease-in-out-quad: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body {
    color: var(--text-02);
    font: 1em/1.6 var(--font-stack);
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    background-color: var(--bg-01);
    margin: 0;
    transition: --base-hue 1.5s ease;
}

body.theme-rs {
    --base-hue: 225deg;
}

body.theme-osrs {
    --base-hue: 95deg;
}

h1 {
    color: var(--text-01);
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1;
    margin: 0;
}

h2 {
    color: var(--text-01);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.017em;
    line-height: 1.2;
    margin: 0 0 1.25rem;
}

h3 {
    color: var(--text-01);
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 1rem;
}

p {
    margin: 0 0 1em;
    letter-spacing: -0.005em;
}

strong {
    color: var(--text-01);
}

.link {
    color: hsl(203.11, 100%, 70.25%);
    text-decoration: none;
    cursor: pointer; /* for non-<a> links */
}

.link:hover,
.link:focus {
    text-decoration: underline;
}

/* hide focus ring when using a mouse (but keep it for keyboard navigation)
   using polyfill from <https://github.com/WICG/focus-visible> */
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

@media screen and (prefers-reduced-motion) {
    body {
        --anim-length: 0;
    }
}

@media screen and (min-width: 900px) {
    html {
        font-size: 1.0625em;
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 1.125em;
    }
}

@supports (font-variation-settings: normal) {
    body {
        --font-stack: 'InterVariable', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
    }
}

/* --------------
       HEADER
   -------------- */

header {
    --header-size: 4.25rem;

    display: flex;
    height: 100vh;
    background: linear-gradient(var(--bg-01), var(--bg-02));
}

.title {
    margin: auto;
    text-align: center;
    transform: skew(0, -6deg);
}

.title > span {
    display: block;
}

.title-top {
    color: var(--text-03);
    font-size: calc(var(--header-size) * 1.375);
    letter-spacing: .01em;
}

.title-center {
    font-size: calc(var(--header-size) * 4);
    font-weight: 850;
    letter-spacing: -0.03em;
    margin: -0.06em 0;
}

.title-bottom {
    font-size: calc(var(--header-size) * 1.015);
    transform: translateX(.1em) translateZ(0); /* fix text jittering */
    letter-spacing: .02em;
}

.bottom-wiki a {
    text-decoration: none;
    transition: var(--anim-med) var(--ease-in-out-quad);
}

.bottom-wiki a:hover {
    filter: brightness(1.15) saturate(1.1);
}

.bottom-wiki + .bottom-wiki {
    margin-left: .25em;
}

.bottom-rs a {
    color: #3496d2;
}

.bottom-osrs a {
    color: #c88312;
}

@media screen and (max-width: 900px), screen and (max-height: 900px) {
    header {
        --header-size: 8vmin;
    }
}

/* ------------
       MAIN
   ------------ */

main {
    --section-padding: 7em;

    background-color: var(--bg-02);
}

.main-container {
    max-width: 800px;
    padding: 0 2em 4em;
    margin: auto;
}

section,
.section {
    border-top: 1px solid var(--border-divider);
    padding-top: var(--section-padding);
}

section + section {
    margin-top: var(--section-padding);
}

section h2,
section .link {
    color: var(--section-color, var(--text-01));
}

.section-traffic {
    --section-color: hsl(18.65, 91.72%, 63.78%);
}

.section-community {
    --section-color: hsl(139.76, 69.67%, 47.84%);
}

.section-milestones {
    --section-color: hsl(203.11, 100%, 70.25%);
}

.section-closing .link {
    /* --section-color: hsl(48.5, 75.9%, 64.74%); */
    --section-color: hsl(203.11, 100%, 70.25%);
}

@media screen and (max-width: 900px) {
    main {
        --section-padding: 4em;
    }
}

@supports (padding: max(0px)) {
    .main-container {
        padding-left: max(1.5em, env(safe-area-inset-left));
        padding-right: max(1.5em, env(safe-area-inset-right));
    }
}

/* ------------
       TABS
   ------------ */

.tab-switcher-note {
    font-size: .9em;
    color: var(--text-03);
    text-align: center;
    margin: 2.5em 0 .75em;
}

.tab-switcher {
    --tab-count: 2;
    --tab-gap: .45em;
    --border-radius: 75em;

    display: flex;
    position: sticky;
    top: 3vh;
    z-index: 1000;

    background-color: oklch(from var(--bg-01) l c h / 0.65);
    backdrop-filter: blur(.8em);
    border-radius: calc(var(--border-radius) + var(--tab-gap));
    box-shadow: var(--shadow-01);

    margin: 2em auto var(--section-padding);
    max-width: 19em;
}

.tab-switcher::before {
    content: '';
    position: absolute;
    top: var(--tab-gap);
    left: var(--tab-gap);
    height: calc(100% - var(--tab-gap) * 2);
    width: calc(100% / var(--tab-count) - var(--tab-gap) * 2);
    transform: translateX(calc(var(--index) * 100% + var(--index) * var(--tab-gap) * 2));
    transition: transform calc(var(--anim-slow) + var(--anim-fast)) var(--ease-in-out-expo);

    background-color: var(--bg-03);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), var(--border-inset);
}

.tab {
    flex: 1;
    padding: 1.15em;
    transition: color var(--anim-fast) ease-in-out;
    z-index: 1;

    /* override default button styles */
    color: var(--text-03);
    font: .9rem/1.45 var(--font-stack);
    background: none;
    border: none;
}

.tab[aria-selected="true"] {
    color: var(--text-01);
}

.tab span {
    pointer-events: none;
}

.label-short {
    display: none;
}

.tab-panel {
    transform: translateZ(0); /* force GPU rendering to prevent animation jittering in Firefox */
    animation-fill-mode: both;
    animation-timing-function: var(--ease-in-out-quad);
}

/* added via slideTabPanels() in main.js */
.slide-left-fade-in {
    animation-name: enter-left, fade-in;
    animation-duration: var(--anim-slow);
}

.slide-left-fade-out {
    animation-name: exit-left, fade-out;
    animation-duration: var(--anim-fast);
}

.slide-right-fade-in {
    animation-name: enter-right, fade-in;
    animation-duration: var(--anim-slow);
}

.slide-right-fade-out {
    animation-name: exit-right, fade-out;
    animation-duration: var(--anim-fast);
}

@media screen and (max-width: 550px) {
    .label-long {
        display: none;
    }

    .label-short {
        display: inline;
    }
}

/* ------------
       STATS
   ------------ */

.stats-grid {
    --breakout-margin: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25em;
    margin: 2.5em var(--breakout-margin);
}

.tab-switcher-note + .stats-grid {
    margin-top: 0;
}

.stat {
    background-color: var(--bg-03);
    padding: 1.2em 1.25em;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-03), var(--border-inset);
}

.stat-icon {
    display: block;
    width: 25px;
    height: 25px;
    color: var(--text-02);
    margin-bottom: 1em;
}

.stat-value {
    color: var(--section-color);
    font-size: 3em;
    font-weight: 800;
    line-height: 1;
}

.stat strong {
    color: var(--section-color);
}

.stat abbr {
    color: inherit;
    margin-left: .02ch;
}

.stat-description {
    font-size: .9em;
    margin-top: 1em;
}

@media screen and (max-width: 501px) {
    .container {
        padding: 0 1em;
        margin-top: 5em;
    }

    .stats-grid {
        grid-template-columns: none;
    }

    .stat {
        padding: 1.25em 1.5em;
    }

    .stat dt {
        float: left;
        margin: -0.25rem 1.5rem 0 0;
    }

    .change {
        clear: both;
    }

    .stat-icon {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .stats-grid {
        --breakout-margin: -3em;
    }
}

/* --------------
       DYGRAPH
   -------------- */

.dygraph-container {
    --range-pad: 7px; /* must be >= xRangePad option for dygraph in main.js */

    background-color: var(--bg-03);
    border-radius: var(--border-radius);
    padding: 1.5em 1.4em 1.25em 1.6em;
    margin: 2.5em 0;
    box-shadow: var(--shadow-03), var(--border-inset);
    position: relative;
}

.tab-switcher-note + .dygraph-container {
    margin-top: 0;
}

.dygraph-graph {
    --graph-height: 300px;

    position: relative; /* for .dygraph-y-labels */
}

.dygraph-title {
    font-size: .95em;
    font-weight: bold;
    margin: 0 0 .25em var(--range-pad);
}

.dygraph-legend {
    position: absolute;
    font-size: .8em;
    background-color: var(--bg-03);
    padding: 6px 8px 8px var(--range-pad);
    line-height: 1.4;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
}

.dygraph-legend-date {
    font-weight: bold;
}

.dygraph-legend-change {
    color: var(--text-03);
}

.dygraph-x-labels {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 8px);
    font-size: .8em;
    margin-top: .5em;
    margin-left: 4px;
}

.x-label {
    flex: 1;
    text-align: center;
}

.short-month {
    display: none;
}

.dygraph-y-labels {
    font-size: .7em;
    color: var(--text-03);
    letter-spacing: .05ch;
    opacity: .8;

    position: absolute;
    pointer-events: none;
    bottom: 0;
    right: var(--range-pad);
}

.y-label {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.traffic .y-label {
    height: calc(var(--graph-height) / 6.5); /* divide by number of y-axis units */
}

.edits .y-label {
    height: calc(var(--graph-height) / 4.6); /* divide by number of y-axis units */
}

.dygraph-annotation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;

    color: white !important; /* override inline style */
    font-weight: bold;
    line-height: 1;
    background-color: var(--bg-02);
    border: none !important; /* override inline style */
    border-radius: 10em;
    cursor: default; /* don't want text cursor appearing */
}

.tooltip {
    --tooltip-width: 200px;
    --tooltip-arrow-width: 10px;
    --annotation-width: 24px; /* must match createAnnotations() width value */

    position: absolute;
    left: calc(var(--tooltip-width) / -2 + var(--annotation-width) / 2); /* center tooltip above annotation circle */
    bottom: calc(var(--annotation-width) + var(--tooltip-arrow-width) + 4px); /* 4px gap between annotation and tooltip */
    opacity: 1;
    transform: translateY(0);
    transition: .25s var(--ease-out-quad);
    z-index: 2;

    color: var(--text-02);
    background-color: var(--bg-02);
    font-weight: normal;
    line-height: 1.3;
    border-radius: calc(var(--border-radius) * .7);
    width: var(--tooltip-width);
    padding: .75em 1em;
    pointer-events: none;
}

.tooltip::before {
    content: '';
    position: absolute;
    border-top: var(--tooltip-arrow-width) solid var(--bg-02);
    border-left: var(--tooltip-arrow-width) solid transparent;
    border-right: var(--tooltip-arrow-width) solid transparent;
    top: 100%;
    left: calc(var(--tooltip-width) / 2 - var(--tooltip-arrow-width)); /* center arrow under tooltip */
}

.tooltip-date {
    color: var(--text-01);
    font-weight: bold;
    margin-bottom: .2em;
}

.tooltip-hidden .tooltip {
    opacity: 0;
    transform: translateY(-3px);
}

@media screen and (max-width: 600px) {
    .dygraph-graph {
        height: 250px !important;
    }

    .short-month {
        display: inline;
    }

    .long-month {
        display: none;
    }

    .traffic .y-label {
        height: calc(250px / 6.5);
    }
}

@media screen and (max-width: 800px) {
    .dygraph-container {
        padding: 1em;
        overflow-x: hidden; /* quick (bad) fix for annotation going offscreen on mobile */
    }

    .dygraph-legend {
        left: 1rem;
    }
}

/* --------------
     MILESTONES
   -------------- */

.milestone-list {
    position: relative;
    list-style: none;
    padding: 30px 0 15px 45px;
}

/* the vertical line */
.milestone-list::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 13px;
    width: 2px;
    height: calc(100% - 5px);
    /*  fade in the ends of the line using pixel values (instead of percentages)
        with help from <https://stackoverflow.com/a/30425097> */
    background:
        linear-gradient(to bottom, var(--bg-02), var(--bg-02) 5px, var(--border-divider) 50px) top no-repeat,
        linear-gradient(to top, var(--bg-02), var(--bg-02) 5px, var(--border-divider) 50px) bottom no-repeat;
    background-size: 100% 50%;
}

/* the dot */
.milestone-list li {
    position: relative;
}

.milestone-list li + li {
    margin-top: 3em;
}

.milestone-list li::before {
    position: absolute;
    top: 33px;
    left: -38px;

    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--text-03);
    border-radius: 50%;
}

.milestone-date {
    color: var(--text-03);
}

.milestone-list h3 {
    margin-bottom: .5em;
}

/* --------------
       ENDING
   -------------- */

.signature {
    text-align: right;
    margin: 2em 0 4em;
}

/* -----------------
       KEYFRAMES
   ----------------- */

@keyframes fade-in {
   0% {
       opacity: 0;
   }

   100% {
       opacity: 1;
   }
}

@keyframes fade-out {
   0% {
       opacity: 1;
   }

   100% {
       opacity: 0;
   }
}

@keyframes enter-left {
   0% {
       transform: translateX(calc(var(--anim-length) / .85));
   }

   100% {
       transform: translateX(0);
   }
}

@keyframes exit-left {
   0% {
       transform: translateX(0);
   }

   100% {
       transform: translateX(calc(var(--anim-length) * -1));
   }
}

@keyframes enter-right {
   0% {
       transform: translateX(calc(var(--anim-length) / -0.85));
   }

   100% {
       transform: translateX(0);
   }
}

@keyframes exit-right {
   0% {
       transform: translateX(0);
   }

   100% {
       transform: translateX(var(--anim-length));
   }
}

@keyframes scale-up {
    from {
        transform: scale(0.96);
    }

    to {
        transform: scale(1);
    }
}